.author-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.author-list__item {
  font-size: 18px;
  line-height: 21px;
  color: #29242c;
  padding: 5px 5px 5px 32px;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 0;
    background: url("../img/icon-arrow-author.svg") no-repeat;
  }

  @include vp--767 {
    font-size: 14px;
  }
}
