.intro-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 542px;
  margin: 0 auto 41px auto;
  text-align: center;

  @include vp--767 {
    width: 320px;
    flex-direction: column;
  }
}

.intro-form input[type="email"],
.intro-form button {
  width: 254px;
  background: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 17px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 0 2px 5px rgba(192, 191, 191, 0.25);
    color: #320c5a;
  }

  @include vp--767 {
    width: 269px;
    display: flex;
    margin: 0 auto;
  }
}

.intro-form input[type="email"] {
  @include vp--767 {
    margin-bottom: 26px;
  }
}

.intro-form__label {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  mix-blend-mode: normal;
  cursor: pointer;

  @include vp--767 {
    width: 320px;
  }
}

.intro-form button {
  background: linear-gradient(75.93deg, #fad264 44.82%, #fce558 70.67%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.intro-form button:first-of-type {
  display: inline;

  @include vp--1023 {
    display: none;
  }
}

.intro-form button:last-of-type {
  display: none;

  @include vp--1023 {
    display: inline;
  }

  @include vp--767 {
    display: flex;
    justify-content: center;
  }
}

.intro-form input[type="checkbox"] {
  appearance: none;
}

.intro-form input[type="checkbox"]:checked + .intro-form__label {
  color: #fad264;
}
