// Переменные
// Typography

$font-family-gilroy: "Gilroy", arial, serif;
$font-family-lato: "Lato", arial, serif;
$font-family-inter: "Inter", arial, serif;
$font-family-mullish: "Mullish", arial, serif;

// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// viewports

$vp--1024: 1024px;
$vp--768: 768px;
